<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body { font-family: DejaVu Sans; }
        h1 { text-align: center; }
        .section { margin-top: 20px; }
        .label { font-weight: bold; }
    </style>
</head>
<body>

<h1>Ordre de Mission</h1>
<div class="section">
     <p><span>L'agent╰(*°▽°*)╯ </span>{{ destinatairee}}</p>
    <p><span class="label">Objet :</span> {{ objet }}</p>
    <p><span class="label">Lieu :</span> {{ lieu }}</p>
    <p><span class="label">Date départ :</span> {{ date_depart }}</p>
    <p><span class="label">Date retour :</span> {{ date_retour }}</p>
    <p><span class="label">Créé par :</span> {{ cree_par }} - {{ cree_par_nom }}</p>
    <p><span class="label">Description :</span> {{ description }}</p>
</div>
</body>
</html>
